/* ***************Général***************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
}

.listnone {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

/* **************accueil */

.go_top {
    position: fixed;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 40px;
    left: 50px;
    text-align: center;
    line-height: 55px;
    color: white;
    font-size: 30px;
    border-radius: 50%;
}

table img {
    max-height: 10vh;
    width: auto;
}

ol img {
    max-height: 10vh;
    width: auto;
}

/*pour le titre des tableaux*/
.caption {
    /*taille police 20pixels*/
    font-size: 20px;
    /*couleur text : blanc*/
    color: white;
}

table,
tr,
th,
td,
tbody,
thead {
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
}

/*import d'une famille de police depuis google font*/
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

/*attribution d'une famille a une catégorie, en l'occurence les H2(titre de niveau 2)*/
h2 {
    font-family: 'Fasthand', cursive;
}

/*et maintenant, les P(paragraphe) et tout ce qui est lié a la classe "new-font'*/
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

p,
.new-font {
    font-family: 'Freehand', cursive;
}

.new-font a {
    color: black;
}

/* *************Footer************* */

footer {
    color: wheat;
    background-color: #0a4275;
}

.footer {
    background-color: rgba(0, 0, 0, 0.2);
}